{% extends 'ANSSiteBundle::layout.html.twig' %}

{% block body %}
    <p><a href="{{ path('ans_site_site_index') }}">На главную</a></p>

    {% include 'ANSSiteBundle::form.html.twig' %}
{% endblock %}